<div *ngIf="isAdmin(); else noAccess" style="text-align: center;">

    <h3>Add a Category </h3>

	<button (click)="goBack()" class="btn btn-success">Go back</button>
  <br>
  <br>
    <!--Input Product Name-->
    
    <div>      
      <input #inputName (keyup)="onKeyName(inputName.value)" placeholder="Category name...">
      <button (click)= "buttonClick()" class="btn btn-success">
      Submit
      </button>
    </div>
  </div>

<ng-template #noAccess>
  You don't have access to this page.
</ng-template>