@import '~bootstrap/dist/css/bootstrap.min.css';

  .icon{
	display: inline-block;
}
.facebook{
	color:#385591;	
}
.twitter{
	color:#4eaee9;
}
.email{

}
.contactus{
	
}
.aboutus {
	
}

.center {
	align-items: center;
}