<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div class="container">
	<h2>About us</h2>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6 contactus">
			<hr>
			<h5>Phone</h5>
			<span><strong>Telephone:</strong> +46 772-28 80 00</span>
			<br>
			<span><strong>Opening hours:</strong> 7.45 AM - 4.00 PM</span>
			<br>
			<span><strong>Fax:</strong> +46 480-44 60 32 (Kalmar), +46 470-832 17 (Växjö)</span>
			<br>
			<br>
			<h5>Address</h5>
			<span>391 82 Kalmar</span>
			<br>
			<span>351 95 Växjö</span>
			<br>
			<span>Sweden</span>
			<br>
			<br>
			<h5>Email</h5>
			<span>cb223ai@student.lnu.se</span>
		</div>

		<div class="col-sm-12 col-md-4 col-lg-4 aboutus">
			<hr>
			<h5>About</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing, elit integer conubia suspendisse commodo turpis venenatis, nisi parturient aliquam nisl dictumst. Erat vehicula placerat eros dapibus hac nascetur curae cursus proin parturient magna nisl, bibendum class semper eget varius primis eleifend ornare porta turpis accumsan. Faucibus fringilla dis nostra aliquam eu nibh sagittis magnis, mollis nam nascetur integer porttitor dui ultrices, massa ac mattis neque libero blandit et.</p>
		</div>
	</div>
	<br>
	<div class="center">
		<img src="https://firebasestorage.googleapis.com/v0/b/webshop-53671.appspot.com/o/map.png?alt=media&token=30d0d71e-3bc8-467f-9844-4f6cae0741b1">	
	</div>
</div>