		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6 contactus">
					<h2>Contact us</h2>
					<hr />
					<h6>Phone</h6>
					<span>Telephone: +46 772-28 80 00</span>
					<br />
					<span>Opening hours:7.45am-4.00pm (May 1-Aug 31)</span>
					<br />
					<span>Fax +46 480-44 60 32 (Kalmar), +46 470-832 17 (Växjö)</span>
					<br />
					<br />
					<h6>Address</h6>
					<span>391 82 Kalmar</span>
					<br />
					<span>351 95 Växjö</span>
					<br />
					<span>Sweden</span>
					<br />
					<br />
					<br />
					<h6>Email</h6>
					<span>cb223ai@student.lnu.se</span>
				</div>
				<div class="col-md-2 col-lg-2">
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4 aboutus">
					<hr />
					<div style="display:inline-block;">
						<h6 class="icon">SHARE</h6>
					</div>
					<div style="display:inline-block;margin-left:15%;">
						<h3 class="icon facebook" style="display: inline-block;"><i class="fab fa-facebook-square"></i></h3>
						<h3 class="icon twitter" style="display: inline-block;"><i class="fab fa-twitter"></i></h3>
						<h3 class="icon email" style="display: inline-block;"><i class="fas fa-envelope"></i></h3>
					</div>
					<hr />
					<h6>About</h6>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing, elit integer conubia suspendisse commodo turpis venenatis, nisi parturient aliquam nisl dictumst. Erat vehicula placerat eros dapibus hac nascetur curae cursus proin parturient magna nisl, bibendum class semper eget varius primis eleifend ornare porta turpis accumsan. Faucibus fringilla dis nostra aliquam eu nibh sagittis magnis, mollis nam nascetur integer porttitor dui ultrices, massa ac mattis neque libero blandit et.</p>
				</div>
			</div>
		</div>
		<div class="row mx-auto">
			<div class="col-lg-4 mx-auto">
				<img src="https://firebasestorage.googleapis.com/v0/b/webshop-53671.appspot.com/o/map.png?alt=media&token=30d0d71e-3bc8-467f-9844-4f6cae0741b1" width="400" height="400">
			</div>
		</div>