<nav>
    <ul>
        <li><a id="title" href="">WebShop</a></li>
        <li><a href="">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    <li>
        <app-searchbar></app-searchbar>
    </li>
       
        <div class="signIn">
            <div class="loggedIn" *ngIf="afAuth.authState | async as user; else showLogin">
                <li routerLinkActive='active' *ngIf="isAdmin()"><a routerLink="/admin">Admin Tools</a></li>
                <div id="welcomeText">
                    <li><img src="https://firebasestorage.googleapis.com/v0/b/webshop-53671.appspot.com/o/img%2Fshopping-cart-32.png?alt=media&token=e390aa3b-61af-45ea-8b87-160f1220ff6f"></li>
                    <h5><i>Welcome {{user.displayName}}</i> </h5>
                </div>
                <button id="loginButton" (click)="logout()">Sign out</button>
            </div>
        
            <ng-template #showLogin>
                <button id="loginButton" (click)="login()">Sign in</button>
            </ng-template> 
        </div> <li><a href="#shopping cart"> Shopping Cart</a></li>
        <!--
        <li>
                <form id="searchBar">
                    <input id="searchField" type="search" placeholder="Search" aria-label="Search">
                </form>    
        </li> 
        
        <li>
            <div class="buttContain">
            <button id="searchButton" type="submit">Search</button>
            </div>
        </li> -->
    </ul>
    

</nav> 


