/* NAVBAR RELATED BELOW */
nav {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#title {
    font-weight: bold;
}

#title:hover {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover, #loginButton:hover {
    background-color: orangered;
    border-color: orangered;
}

#searchBar {
    position: relative;
    float: inherit;
}

#loginButton {
    margin: 0;
    right: 0%;
    float: right;
    padding: 20px 16px;
    background-color: #333;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    bottom: 0%;
    top: 0%;
    position: absolute;
    font-weight: bold;
}




