<nav>
    <ul >
        <li><a id="title" href="">WebShop</a></li>
        <li><a href="">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li> 
        <div class="signIn">
            <div class="loggedIn" *ngIf= "afAuth.authState | async as user; else showLogin">
                <li routerLinkActive='active' *ngIf="isAdmin()"><a routerLink="/admin">Admin Tools</a></li>
                <div id="welcomeText">
                    <h5><i>Welcome {{user.displayName}}</i> </h5>
                </div>
                <button id="loginButton" (click)="logout()">Sign out</button>
            </div>
        
            <ng-template #showLogin>
                <button id="loginButton" (click)="login()">Sign in</button>
            </ng-template> 
        </div> 
        <!--
        <li>
                <form id="searchBar">
                    <input id="searchField" type="search" placeholder="Search" aria-label="Search">
                </form>    
        </li> 
        
        <li>
            <div class="buttContain">
            <button id="searchButton" type="submit">Search</button>
            </div>
        </li> -->
    </ul>
</nav> 


