<nav>
    <ul >
        <li><a id="title" href="">WebShop</a></li>
        <li><a class="active" href="">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li> 
        <div *ngIf= "afAuth.authState | async as user; else showLogin">
            <p>Welcome {{user.displayName}} </p>
            <button id="loginButton" (click)="logout()">Sign out</button>
        </div>
        <ng-template #showLogin>
            <button id="loginButton" (click)="login()">Sign in</button>
        </ng-template> <!--
        <li>
                <form id="searchBar">
                    <input id="searchField" type="search" placeholder="Search" aria-label="Search">
                </form>    
        </li> 
        
        <li>
            <div class="buttContain">
            <button id="searchButton" type="submit">Search</button>
            </div>
        </li> -->
    </ul>
</nav> 