<br><br><br><br>

<ul>
	<li><a routerLink="/admin/add_category">Add category</a></li>
	<li><a routerLink="/admin/add_product">Add product</a></li>
</ul>

<div class="container">
  
  <section class="panel panel-default">
<div class="panel-heading"> 
<h3 class="panel-title">Admin panel</h3> 
</div> 
<div class="panel-body">
  
<form action="designer-finish.html" class="form-horizontal" role="form">

<div class="form-group">
	<label for="Basic info" class="col-sm-3 control-label">Basic info</label>
	<div class="col-sm-9">
		<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Product 
	</label>
	<label class="radio-inline">
	  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> list
	</label>
	</div>
</div> 

   <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Product</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="name" placeholder="Исм ёки корхона номи">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Categories</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" id="name" placeholder="Название">
    </div>
  </div>
  <div class="form-group">
    <label for="about" class="col-sm-3 control-label">Tags</label>
    <div class="col-sm-9">
      <textarea class="form-control"></textarea>
    </div>