body {
    margin: -3px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background-color: #555;
}
#nav {
}
/* Begin Navigation Bar Styling */
#nav ul {
    font-size: 11px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0;
    list-style: none;
    background-color: #333;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#nav li {
    display: block;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-right: 1px solid #ccc;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
#nav li a:hover {
    background-color: orangered;
    text-decoration: underline;
}
/* End navigation bar styling. */

div#page {
    background-color: white;
    margin: 0 auto;
    text-align: left;
    width: 300px;
    padding: 0px 10px 0 10px;
    float: left;
}
div#header {
    border-bottom: 1px solid black;
    height: 30px;
    line-height: 30px;
}
div#content {
    background: none repeat scroll 0 0 none;
    border: 0px solid blue;
    width: 100%;
    line-height: 500px;
    min-height: 500px;
    height: 500px
}
div#footer {
    border: 0px solid red;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid black;
    font-size: 9pt;
}