<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<br>
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of productsList; index as i" [attr.data-index]="i">
        <td data-th="Product" style="padding-left: 32px">
          <div class="row">
            <div class="media hidden-xs">
              <a class ="thumbnail pull-left"
              href="">
              <img class =" media-object" src="{{product.imageURL}}" 
              style="width: 32px; height: 32;"/>
            </a>
            </div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{product.brand}} {{product.name}}</h4>
            </div>
          </div>
        </td>
        <td data-th="Price">{{product.price}}</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" [(ngModel)]="quantityList[i]"
          value="ngModel"
          #quantity="ngModel"
          min="0" max="{{getMax(i)}}" name="quantity" required >
            <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
            Input error!
            </div>
        </td>
        <td data-th="Subtotal" class="text-center">{{calculateSubtotal(product.price,quantityList[i])}}</td>
        <td class="actions" data-th="">

          <button class="btn btn-info btn-sm" (click)="refreshQuantity(i)" title="Update cart">
            <i class="fa fa-refresh"></i>
          </button>

          <button class="btn btn-danger btn-sm" title="Remove product" (click)="removeProduct(i)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      
      <tr>
        <td>
          <button (click)="goBack()" class="btn btn-warning">
            <i class="fa fa-angle-left"></i>Continue Shopping</button>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center">
          <strong>Total {{totalPrice}} SEK</strong>
        </td>
        <td>
          <button href="#" class="btn btn-success btn-block"
          [disabled]="(finalQuantityCheck())">Checkout
            <i class="fa fa-angle-right"></i>
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>